.nav-parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.top {
  flex: 5;
  background: #2f3e5e;
}

.bottom {
  flex: 3;
  background: #edf6ff;
}

.form {
  background: #ffffff;
  position: absolute;
  width: 33.3%;
  height: 460px;
  left: 33.3%;
  top: 150px;
  border-radius: 20px;
  box-shadow: -4px 21px 29px -10px rgb(186 186 186 / 75%);
}

.form-parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.inputs {
  height: 45px;
  border: 1px solid #63b4dc;
  border-radius: 10px;
  background: #f3f3f3;
  width: 100%;
}

.forgot-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.incorrect-fields {
  display: flex;
  justify-content: end;
}

.form-title {
  flex: 1;
}

.email-input {
  flex: 1;
  margin-bottom: 20px;
}

.pass-input {
  flex: 1;
}

.form-submit{
  flex:3;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
