.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 4;
  background-color: #2f3d5e;
  display: flex;
  flex-direction: column;
}

.login-title {
  flex: 2;
}

.page-title {
  flex: 5;
  display: flex;
  padding: 75px;
}

.bottom {
  flex: 3;
  background: #edf6ff;
  padding: 151px;
}

/* .login-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  position: relative;
  left: 5%;
  height: 50px;
} */

/* .title-text {
  flex: 1;
} */

/* .title-button {
  flex: 1;
  justify-content: flex-end;
  display: flex;
} */

.page-text {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 12%;
}

.page-image {
  flex: 1;
}

.image {
  position: absolute;
  top: 90px;
  width: 855px;
  height: 588px;
  right: 160px;
}

.home-cards {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
}

.why-us {
  margin-left: 12%;
  margin-bottom: 40px;
  font-size: 30px;
}

.companies {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.company-row1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-left: 5%;
}

.company-row2 {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}

.cards-home {
  flex: 1;
  font-size: 25px;
  color: #43afff;
  font-weight: 500;
}

.cards-home-desc {
  color: #303f60;
}

.logout-success {
  position: absolute;
  background: white;
  left: 72.5%;
  top: 94px;
  z-index: 1;
  width: 421px;
  height: 100px;
  border-radius: 5px;
}
