.login-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  position: relative;
  left: 5%;
  height: 80px;
}

.title-text {
  flex: 1 1;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.title-button {
  flex: 1 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.logout-pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85px;
}

.pop-div {
  position: absolute;
  top: 76px;

  width: 130px;
  height: 47px;
  background: white;
  text-align: center;
  /* align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.logout-pop > svg {
  transform: rotate(180deg);
}
