.jobs-parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.jobs-header {
  flex: 1;
  background: #2f3e5e;
}

.jobs-main {
  flex: 3;
  background: #edf6ff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  position: relative;
  bottom: 60px;
  height: 100%;
}

.modal-parent {
  height: 80%;
  width: 40%;
  background: white;
  border-radius: 15px;
  padding: 15px;
  max-height: 80%;
  overflow-y: scroll;
}

.paginate{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 45px;
    width: 100%;
}